

.default-button {

    -fx-background-radius: 10px;

    -fx-cursor: hand;
}

.default-green:hover {
    -fx-background-color: #66ff66;
    -fx-text-fill: black;
}
.default-blue:hover {
    -fx-background-color: #4d4dff;

    -fx-text-fill: white;
}
.default-red:hover {
    -fx-background-color: #ff3333;
    -fx-text-fill: white;
}
.default-cyan {
    -fx-background-color: #adddfc;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease, transform 0.3s ease;
}

.default-cyan:hover {
    -fx-background-color: #008bff;
    -fx-text-fill: white;
    -fx-transform: scale(1.05);
}

.red {
    -fx-background-color: #adddfc;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease, transform 0.3s ease;
}

.red:hover {
    -fx-background-color: #ff3d3d;
    -fx-text-fill: white;
    -fx-transform: scale(1.05);
}
.green {
    -fx-background-color: #adddfc;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease, transform 0.3s ease;
}

.green:hover {
    -fx-background-color: #7cfe80;
    -fx-text-fill: white;
    -fx-transform: scale(1.05);
}

.gray{
    -fx-background-color: #adddfc;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-transition: background-color 0.3s ease, transform 0.3s ease;
}

.gray:hover {
    -fx-background-color: #868686;
    -fx-text-fill: white;
    -fx-transform: scale(1.05);
}